# Node modules
day1/node_modules/
day1/package-lock.json
training-module-2-federation/federation-gateway/node_modules/
training-module-2-federation/federation-gateway/package-lock.json
training-module-4-authentication/gateway/node_modules/
training-module-4-authentication/gateway/package-lock.json

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# IDE / editor files
.vscode/
.idea/

# Maven
target/

HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties